<div class="jumbotron text-center">
	<h1>Member Page</h1>
	<p>Username: {{ usernameCombined }}</p>
</div>

<div class="jumbotron text-center" ng-show="teacher">
	<button class="btn btn-default" ng-click='geefKlassen()' ng-show="geefKlasBtn">mijn klassen</button>
	<button class="btn btn-default" ng-click='terug()' ng-show="terugBtn">naar mijn klassen</button>
	<div class="tabellen">
		<table class="table" ng-show="klassenLs">
		    <head>
		      <tr>
		        <th>klas</th>
		      </tr>
		    </head>
		    <body>
		      <tr ng-repeat-start="x in classes | unique:'klas'" ng-click="kiesKlas(x.klas)">
		        <td>{{x.klas}}</td>
		      </tr>  
		      <tr ng-repeat-end ></tr>    
		    </body>
		</table>
		<table class="table" ng-show="vragenLs">
		    <head>
		      <tr>
		        <th>vraag</th>
		      </tr>
		    </head>
		    <body>
		      <tr ng-repeat-start="x in vragen | unique:'vraag'" ng-click="kiesVraag(x.vraag)">
		        <td>{{x.vraag}}</td>
		      </tr>  
		      <tr ng-repeat-end ></tr>    
		    </body>
		</table>
		<table class="table" ng-show="antwoordenLs">
		    <head>
		      <tr>
		        <th>antwoorden</th>
		      </tr>
		    </head>
		    <body>
		      <tr ng-repeat-start="x in antwoorden">
		        <td>{{x}}</td>
		      </tr>  
		      <tr ng-repeat-end ></tr>    
		    </body>
		</table>
	</div>
</div>