<div class="jumbotron text-center">
	<h1>Room Page</h1>
	<!-- "div" hieronder wordt inhoud popup -->
	<div>
	    <button class="btn btn-default" ng-click='toggleModal()' ng-show="teacher">Open Modal Dialog</button>
	    <button type="submit" class="btn btn-default" ng-click="geefAlleRooms()">geef rooms</button>
	    <modal-dialog show='modalShown' width='400px' height='100%'>
			<div class="container">
				<div class="col-lg-3 col-sm-12">
					<h1>add classroom</h1>
					<form role="form" >
					<div class="form-group">
						<label for="artiest">klas: </label>
						<div>
							<input type="text" class="form-control" id="klasIN" placeholder="Enter class">
						</div>					
					</div>
					<div class="form-group">
						<label  for="nummer">leraar: </label>
						<div>
							<input type="text" class="form-control" id="leraarIN" placeholder="Enter teacher">
						</div>					
					</div>
					<div class="form-group">
						<label  for="label">status: </label>
						<div >
							<input type="text" class="form-control" id="statusIN" placeholder="Enter title">
						</div>					
					</div>
					<div class="form-group">
						<label  for="label">code: </label>
						<div >
							<input type="text" class="form-control" id="codeIN" placeholder="Enter code">
						</div>					
					</div>
					<div class="form-group">
						<div >
							<button type="submit" class="btn btn-default" ng-click="submit()">add</button>
						</div>
					</div>					
					</form>	
				</div>			
			</div>
		</modal-dialog>
		<div class="tabellen" data-ng-init="getRooms()" ng-show="roomList">
			<table class="table">
			    <head>
			      <tr>
			        <th>klas</th>
			        <th>leraar</th>
			        <th>titel</th>
			        <th>status</th>
			      </tr>
			    </head>
			    <body>
			      <tr ng-repeat-start="x in rooms" ng-click="kiesRoom(x.klas, x.leraar, x.tittel, x.status)">
			        <td>{{x.klas}}</td>
			        <td>{{x.leraar}}</a></td>
			        <td>{{x.tittel}}</a></td>
			        <td>{{x.status}}</a></td>
			      </tr>  
			      <tr ng-repeat-end ></tr>    
			    </body>
			</table>
		</div>
		<div ng-show="chosenRoom">
			<p id="infoRoomK"></p>
			<p id="infoRoomL"></p>
			<p id="infoRoomT"></p>
			<p id="infoRoomC"></p>
			<p><button class="btn btn-default" ng-click="roomStart()" ng-show="teacher">Start</button>
			<button ng-show="joinOn" class="btn btn-default" ng-click="roomJoin()">join</button></p>
		</div>
		<div ng-show="joinRoom">
			<p>Joined</p>
			<p><input type="text" placeholder="vraag" ng-model="question1" id="vraagIN" style='display:block;width:500px;margin-left:auto' ng-show="teacher"> 
			<button class="btn btn-default" ng-click="addQuestion()" style="position: absolute; right: 0;" ng-show="teacher">Voeg de vraag toe</button></p>
			<button class="btn btn-default" ng-click="stopQuestion()" style="position: absolute; right: 10;" ng-show="teacher">stop stelling</button></p>

		</div>
		<div ng-show="showQuestion">
			<p><input type="text" readonly="true" value="'Leraar' stelde de vraag: " style="position: absolute; left: 0; width: 250px;"></p></br></br>
			<p><input type="text" readonly="true" value="{{ question }}" style='display:block;width:500px;'></p>
		</div>

		<div ng-show="showAnswer">
			<p><input type="text" readonly="true" value="{{naamStudent}} antwoorde: " style="position: absolute; left: 0; width: 200px;"></p></br></br>
			<p><input type="text" readonly="true" value="{{ answer }}" style='display:block;width:500px;margin-right:auto'></p>
		</div>
		<div ng-show="placeAnswer">
			<p><input type="text" placeholder="Antwoord" ng-model="answer1" style='display:block;width:500px;margin-right:auto' ng-show="student">
			<button class="btn btn-default" ng-click="addAnswer()" style="position: absolute; left: 0;" ng-show="student">Antwoord</button></p>
		</div>
    </div>
</div>